<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="css/estilizacao.css">
		
	</head>
	<body>
		<main class="global">
			<header class="topo">
				<img src="imagens/topo.jpg">
			</header>
			<nav class="menu">
				<ul>
					<li><a href="index" title="Home">Home</a></li>
					<li><a href="#1" title="Sobre">Sobre Nós</a></li>
					<li><a href="locacoes" title="Locações">Locações</a></li>
					<li><a href="#2" title="Contato">Contatos</a></li>
					<li><a href="admin" title="adminsitração">Área Administrativa</a></li>
				</ul>
			</nav>
			<section class="q_esquerda">
				<aside class="informativo">
					<h5>ITENS TABELAS</h5>
					<nav class="destaques a2">
						<ol>
							<li><a href="formFilmes" Title="Filmes" target="meuframe">Filmes</a>
								<ol>
									<li><a href="listarFilmes" Title="consultaFilmes" target="meuframe">------Consultar Todos</a></li>
								</ol>
							</li>
							<li><a href="formClientes" Title="Clientes" target="meuframe">Clientes</a>
								<ol>
									<li><a href="listarClientes" Title="consultaClientes" target="meuframe">------Consultar Todos</a></li>
								</ol>
							</li>
							<li><a href="formLocacoes" Title="Locaçoes" target="meuframe">locacoes</a>
								<ol>
									<li><a href="listarLocacoes" Title="consultaLocaçoes" target="meuframe">------Consultar Todos</a></li>
								</ol>
							</li>
							
						
						</ol>
					</nav>
				</aside>
				
			</section>
			<section class="q_direita">
				<aside class="destaques a1">
					<h5>FORMULÁRIOS CRUD</h5>
					<div class="frame">
					<iframe src="formFilmes" name="meuframe" id="meuFrame" class="css-frames">

					</iframe>
					</div>
				</aside>
				
				
			
			</section>
			<footer class="rodape">
				<p>Copyright 2021 Loja Virtual. Desenvolvido por <a href="#">Jean Vieira</a></p>
			</footer>
		</main>
	</body>
</html>
