<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title id="title">
        Filmes
    </title>
	<link href="css/style.css" media="screen" rel="stylesheet" type="text/css">
	</head>
		
	<body class="forms">
	
	<div class="centoContainer">
    
		<div id="wrapper" >

			<div id="wrappermiddle">
				
					<form action="mailto:jean.vieira@ufn.edu.br" enctype="text/plain" id="clientesForm" method="post" name="clientesForm">
						<h2 style="text-align: center">Clientes</h2>
			
					<div class="entradaText" id="">
						<label for="idCliente">ID
							<input class="css-input" id="idCliente" maxlength="3" name="idCliente"  size="5" type="text"  placeholder="Digite o ID">
							
						</label>
					</div>
					
					<div class="entradaText">
						<label for="nome">Nome
						<input class="css-input" id="nome" maxlength="60" name="nome" size="30" type="text" placeholder="Digite o nome do cliente">
						
						</label>
					</div>
					
					<div class="entradaText">
						<label for="endereco">Endereço
						<input class="css-input" id="endereco" maxlength="60" name="endereco" size="50" type="text" placeholder="Digite Endereço, nº de casa/ apto/ lote">
						
						</label>
					</div>

					<div class="entradaText">
						<label for="telefone">Telefone
						<input class="css-input" id="telefone" maxlength="60" name="telefone" size="30" type="tel" placeholder="(12) 34567-8901" pattern="([0-9]{2})[0-9]{5}-[0-9]{4}" required>
						
						</label>
					</div>

					<div class="entradaText">
						<label for="cidade">Cidade
						<input class="css-input" id="cidade" maxlength="60" name="cidade" size="40" type="text" placeholder="Digite a cidade">
						
						</label>
					</div>

					<div class="entradaText">
						<label for="rg">RG
						<input class="css-input" id="rg" maxlength="12" name="rg" size="30" type="text" pattern="[0-9]{2}.[0-9]{3}.[0-9]{3}-[0-9]{1}" placeholder="Digite o RG - 01.234.567-8">
						
						</label>
					</div>			

					<div class="entradaText">
						<label for="dataNasc">Data de Nascimento
						<input class="css-input" id="dataNasc" maxlength="60" name="dataNasc" size="30" type="date" placeholder="Data de nascimento">
						
						</label>
					</div>

					<div style="margin-bottom: 30px;"></div>

					<div class="submitCad">
						<input class="btn" id="clientesForm:button_cad" name="clientesForm:button_cad"  type="submit" value="Cadastrar">
					</div>

					<div class="submitCons">
						<input class="btn" id="clientesForm:button_cons" name="clientesForm:button_cons"  type="submit" value="Consultar">
					</div>
					<div class="submitAtual">
						<input class="btn" id="clientesForm:button_atual" name="clientesForm:button_atual"  type="submit" value="Atualizar">
					</div>
					<div class="submitExcl">
						<input class="btn" id="clientesForm:button_excl" name="clientesForm:button_excl"  type="submit" value="Excluir">
					</div>
				</form>
			
			</div>
	
			
			
		</div>
        </div>
		
	
</body>
</html>