<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title id="title">
        Adminsitrativo
    </title>
	<link href="css/style.css" media="screen" rel="stylesheet" type="text/css">
	</head>
		
	<body class="forms">
	
	<div class="centoContainer">
    
		<div id="wrapper" >

			<div id="wrappermiddle">
				<fieldset id="usuario">
					<form action="" enctype="application/x-www-form-urlencoded" id="loginForm" method="post" name="loginForm">
					<Legend>
						<h2 style="text-align: center">Painel Administrativo</h2>
					</Legend>

					<div class="entradaText"  id="">
						<label for="username">Usuário
							<input class="css-input" id="username" maxlength="40" name="username"  size="20" type="text"  placeholder="Digite seu login">
							<img id="url_user" src="imagens/user_icon.png">
						</label>
					</div>
					

					<div class="entradaText" id="">
						<label for="password">Senha
						<input class="css-input" id="password" maxlength="40" name="password" size="20" type="password" placeholder="Digite sua senha">
						<img id="url_password" src="imagens/passicon.png">
						</label>
					</div>
					

					<div class="submit">
						<input class="btn" id="loginForm:button_login" name="loginForm:button_login"  type="submit" value="Login">
					</div>
					
				
				</form>
			</fieldset>
			</div>
	
			
			
		</div>
        </div>
		
	
</body>
</html>