<!DOCTYPE html>
<html lang="pt-br">
	<head>
	<meta  charset="UTF-8"/>
	<title>Academia PowerHouse Fitness</title>
<style>
     .tb1,th,td{
			border:2px solid rgb(0,0,0);
			}
			tr:hover {
  		background-color:#3d80df;
  		color: #fff;
			}
			tr:hover:nth-child(even) {
      background-color: #edf5ff;
			color: #000;}
</style>
<link rel="stylesheet" type="text/css" href="">
	</head>
	<body>
	  <a href="index.html">Home</a>
		<a href="https://www.wix.com/website-template/view/html/1706?siteId=47e79bb1-d7df-40de-8377-6e885010bbd6&metaSiteId=9ee0bcf9-e9d2-4363-bb6e-a95e0d24e75e&originUrl=https%3A%2F%2Fpt.wix.com%2Fwebsite%2Ftemplates%2Fhtml%2Fhealth-wellness">Link1</a> |
		<a href="https://academiabetafitness.com.br/site/">link2</a> |
		<a href="https://www.smartfit.com.br/">Link3</a> |
		<a href="../aula02.html">Teste</a>
		<a href="documentos/horarios.html">Horários</a>
		<div style="height:350px"><h1>Mente Equilibrada em um Corpo Equilibrado</h1>
		<img src="imagens/logo.png">
		</div>
		<div id="sobre">
		<h2>Sobre Nós</h2>
		<p>
			Nossa equipe conta com profissionais qualificados e capacitados para o atendimento dos diferentes públicos.<br>

​ 			“Atividades físicas para promover o equilíbrio físico e emocional. Mais saúde e vitalidade no seu dia a dia” As atividades são realizadas em ambiente agradável e familiar, num espaço especialmente planejado para melhor atender e promover além de saúde física, a interação social, o bem-estar e a qualidade de vida dos clientes.<br>

			<h3>A Academia</h3>

​			A <strong>PowerHouse</strong> possui ​um espaço de mais de 600 metros quadrados com diversidade de equipamentos e acessórios para você se exercitar, Espaço Funcional, Studio de Pilates, sala Fitness, além de vestiários com ducha e armários de uso rotativo. Tudo isso disposto em um complexo seguro localizado no Jardim ​Igapó​, um bairro tranquilo, com facilidade de acesso e de estacionamento. Venha nos fazer uma visita!!!<BR>
		</p>
		</div>
		<div>
		<table class="tb1">
			<thead>
				<tr>
				<th colspan="3" height="100px">Atividades Propostas</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><figure><img src="imagens/musculacao-380x190.jpg"></figure></td>
					<td><figure><img src="imagens/FUNCIONAL-380x190.jpg"></figure></td>
					<td><figure><img src="imagens/zumba.jpg"></figure></td>
				</tr>
				<tr>
					<td><p>A Academia PowerHouse oferece a você um programa personalizado de musculação e condicionamento físico. Desenvolvido por profissionais de Educação Física, os treinamentos visam alternar exercícios aeróbicos, de fortalecimento muscular e equilíbrio corporal. Os programas são planejados para atender as necessidades e objetivos pessoais, respeitando os limites e atuais condições de saúde. Recomendado para as diferentes idades. sempre respeitando a individualidade biológica de cada um.</p>
</td>
					<td><p>A PowerHouse oferece um Circuito em formato de treinamento intervalado de alta intensidade, elaborado de forma que atende a praticantes de diferentes níveis de condicionamento. Aula que tem por objetivo melhorar o condicionamento físico e a resistência muscular, utilizando-se de acessórios como bola, corda, bastão, elástico, mini trampolim, degrau, fita de suspensão, entre outros acessórios. A aula é disposta em várias estações que permitem maior dinamismo e diversidade de estímulos. Aula excelente para quem busca emagrecimento de forma efetiva e divertida.</p></td>
					<td><p>Aula de ritmos latinos, que traz coreografias e passos numa dança individual e bem divertida. Indicada para todas as idades, a zumba desenvolve coordenação motora, ritmo, além de extravasar as energias.<br>
Misturando movimentos de danças latinas com samba, salsa, reggaeton, mambo e reggae, combinados com hip-hop e até mesmo dança do ventre é a harmonia perfeita entre diversão e exercícios cardiovasculares promovendo condicionamento físico para todo o corpo.</p>
</td>
				</tr>
				<tr>
					<td><figure><img src="imagens/natacao-380x190.jpg"></figure></td>
					<td><figure><img src="imagens/ritmos-380x190.jpg"></figure></td>
					<td><figure><img src="imagens/PILATES-380x190.jpg"></figure></td>
				</tr>	
				<tr>
				  <td><p>A natação é um dos exercícios físicos mais completos que se conhece, permitindo um amplo trabalho muscular e com a vantagem de reduzir o impacto às articulações. Atualmente, muitos se beneficiam com a prática dessa atividade desde os processos de adaptação ao meio aquático, até o aprendizado e aperfeiçoamento das técnicas de nado. Crianças e adolescentes, adultos e idosos podem melhorar seu estado de saúde de maneira prazerosa e eficaz.</td>
				  <td><p>Com uma metodologia dinâmica, divertida, desafiadora e democrática vai dançar e brincar em um grande clima de festa, em casa, na academia, sozinho ou com os amigos.<br>
				  Um programa de dança com coreografias motivantes e simples, misturando vários ritmos atuais, como Dance Axé, Música Latina, Hip Hop, Funk, Salsa e Eletrônico. A aula é indicada para todos que gostam de dançar e querem perder algumas calorias de maneira bem divertida!!
				  </p></td>
				  <td><p>Método de exercício físico e reabilitação, criado por Joseph Pilates em meados da década de 20, direcionado ao condicionamento físico e equilíbrio corporal. Realizado em aparelhos específicos e acessórios, o método Pilates, oferece ao corpo um completo estado de bem estar e relaxamento, através de exercícios que alongam e fortalecem os músculos de maneira global. O Pilates é considerado uma atividade de baixo impacto, indicada a todas as idades. <br>

Os exercícios são realizados lentamente e com poucas repetições, com o objetivo de desenvolver um maior controle e qualidade de movimento.</p></td>
				</tr>
			</tbody>
			<tfoot>
			</tfoot>
		</table>
		</div>
	</body>
</html>
