<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="css/estilizacao.css">
	</head>
	<body>
		<main class="global">
			<header class="topo">
				<img src="imagens/topo1.jpg">
			</header>
			<nav class="menu">
				<ul>
					<li><a href="index" title="Home">Home</a></li>
					<li><a href="#1" title="Sobre">Sobre Nós</a></li>
					<li><a href="locacoes" title="Locações">Locações</a></li>
					<li><a href="#2" title="Contato">Contatos</a></li>
					<li><a href="admin" title="adminsitração">Área Administrativa</a></li>
				</ul>
			</nav>
			<section class="q_esquerda">
				<aside class="informativo">
					<h5>Cinemas</h5>
					<nav>
						<ol>
							<li><a href="https://www.ingresso.com/home?city=sao-paulo&partnership=home" Title="Ingresso.com" target="_blank">Ingresso.com</a></li>
							<li><a href="https://www.cinemark.com.br/" Title="cinemark" target="_blank">Cinemark</a></li>
							<li><a href="https://www.cinepolis.com.br/" Title="Cinepolis" target="_blank">Cinepolis</a></li>
							<li><a href="https://www.cinesystem.com.br/" Title="Cinesystem" target="_blank">Cinesystem</a></li>
							<li><a href="https://cinearaujo.com.br/" Title="Cine Araujo" target="_blank">Cine Araujo</a></li>
						
						</ol>
					</nav>
				</aside>
				<div class="anuncios">
					<img src="imagens/benedetta.jpg" title="Benedetta">
				</div>
				<div class="anuncios esquerdaN">
					<img src="imagens/harry.jpg" title="Harry Potter e a Pedra Filosofa">
				</div>
				<div class="anuncios">
					<img src="imagens/familia.jpg" title="Família Monstro 2">
				</div>
				<div class="anuncios esquerdaN">
					<img src="imagens/missão.jpg" title="Missão Resgate">
				</div>
			</section>
			<section class="q_direita">
				<aside class="destaques">
					<h5>Destaques</h5>
					<div class="foto-destaque">
						<img src="imagens/aranha.jpg" title="Fotinha">
					</div>
					<div class="caixa_des"><h1>Homem-Aranha: Sem Volta para Casa</h1>
						<p class="direitaN">Peter Parker precisará lidar com as consequências da sua identidade como aracnídeo ter sido revelada o....</p>
						<a href="#" title="Leia Mais" class="leiamais">Leia Muito Mais</a>
					</div>
				</aside>
				<article class="artigos">
					<h4>Promoções</h4>
					<h2>Promoções</h2>
					<p>Aqui você pode conferir todas as nossas promoções e quais delas estão disponíveis para voce cliente amigo. Aproveite, use e abuse.</p>
					<a href="#" title=" Leia Mais" Class="leiamais"> Leia Mais Ainda</a>
					<h6>Mais...</h6>
					<ul>
						<li><a href="#" title="Artigo 1"> Séries</a></li>
						<li><a href="#" title="Artigo 2"> Documentários</a></li>
						<li><a href="#" title="Artigo 3"> Outros</a></li>
					</ul>
				</article>
				
				<article class="artigos">
					<h4>FanShop</h4>
					<h2>FanShop</h2>
					<p>produtos feitos de fã para fã
						A parceria que faltava para vestir, calçar e surpreender os apaixonados por filmes e séries.</p>
					<a href="#" title=" Leia Mais" Class="leiamais"> Leia Mais Ainda</a>
					<h6>Mais...</h6>
					<ul>
						<li><a href="#" title="Artigo 1"> Camisetas</a></li>
						<li><a href="#" title="Artigo 2"> Bonés</a></li>
						<li><a href="#" title="Artigo 3"> Outros</a></li>
					</ul>
				</article>
			</section>
			<footer class="rodape">
				<p>Copyright 2021 Loja Virtual. Desenvolvido por <a href="#">Jean Vieira</a></p>
			</footer>
		</main>
	</body>
</html>
